{% extends "adminuser/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row justify-content-around">
            <div class="card col-4" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">User Login</h5>
                    <p class="card-text">To Login as a user click on the below button</p>
                    <a href="{% url 'loginuser' %}" class="btn btn-primary">Login</a>
                    <p style="margin: 2px;">New user <a href="{% url 'registeruser' %}">click here</a> to register</p>
                </div>
            </div>
            <div class="card col-4" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Admin Login</h5>
                    <p class="card-text">To login as an admin click on the below button</p>
                    <a href="{% url 'loginadmin' %}" class="btn btn-primary">Login</a>
                    <p style="margin: 2px;">New admin <a href="{% url 'registeradmin' %}">click here</a> to register</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}